server:
  port: 8080
  tomcat:
    connection-timeout: 10000  # 10? ?? ?? ??? ?? (DoS ??)

spring:
  servlet:
    multipart:
      max-file-size: 1MB      # PQC ?? ??? ?? 1MB? ? ??
      max-request-size: 1MB   # ?? ?? ?? ??